/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 750px) {
    .bottom-cloud {
        display:none;
    }

    .top-cloud {
       display: none;
    }
}


/*Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {

    .bottom-cloud {
        position: absolute;
        left:15.625rem;
        bottom: 18.75rem;
        max-width: 6.25rem;
        height: 5rem;
    }

    .top-cloud {
        position: absolute;
        right: 300px;
        top: 40px;
        height: 80px;
        max-width: 6.25rem;
        height: 5rem;
    }
    

} 




/* Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {

    .bottom-cloud {
        position: absolute;
        left:15.625rem;
        bottom: 18.75rem;
        max-width: 6.25rem;
        height: 5rem;
    }

    .top-cloud {
        position: absolute;
        right: 300px;
        top: 40px;
        height: 80px;
        max-width: 6.25rem;
        height: 5rem;
    }
    
}
*/


/*Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {
    .bottom-cloud {
        position: absolute;
        left:15.625rem;
        bottom: 18.75rem;
        max-width: 6.25rem;
        height: 5rem;
    }

    .top-cloud {
        position: absolute;
        right: 300px;
        top: 40px;
        height: 80px;
        max-width: 6.25rem;
        height: 5rem;
    }
    

}*/



/*@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 2) {  
    .bottom-cloud {
        position: absolute;
        left:15.625rem;
        bottom: 18.75rem;
        max-width: 6.25rem;
        height: 5rem;
    }

    .top-cloud {
        position: absolute;
        right: 300px;
        top: 40px;
        height: 80px;
        max-width: 6.25rem;
        height: 5rem;
    }


}*/






body {
    background-color: white;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514e;
}

.me{
    height: 150px;
}


div {
    background-color: #E4F9F5;
}

h1 {
    margin-top: 0;
    font-family: 'Lobster', cursive;
    font-size: 5.625rem;
    margin: 20px auto 0 auto;
    color: #66BFBF;
}

.intro {
    width: 30%;
    margin: auto;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    line-height: 20px;
    margin: 20px auto 0px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    }

.top-container {
        position: relative;
        padding-top: 20px;
}

.dingo {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}

.middle-container {
    box-shadow: 0 50vh 0 50vh#66BFBF;
}

.bottom-container {
    padding: 50px 0px 20px;
    background-color: #66BFBF;
    text-decoration: none;
 
}

.bottom-cloud {
    position: absolute;
    left:15.625rem;
    bottom: 18.75rem;
    max-width: 6.25rem;
    height: 5rem;
}

.programmer {
    height: 500px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
    /*height: 80px;*/
    max-width: 6.25rem;
    height: 5rem;
}

.footer-link {
    color: #11999E;
    padding: 15px;
}

.skill-row {
    width: 50%;
    margin: 70px auto 100px auto;
    text-align: left;
}

.javascriptPic {
    width: auto;
    float: left;
}

.androidPic {
    width: auto;
    float: right;
    
}

.bottom-footer {
    color:#EAF6F6;
    padding: 20px 0;
    padding-top: 30px;
    font-size: 0.75rem;

}

.contact-me {
    
    padding-bottom: 60px;
}

.cbreaker {
    padding-bottom: 30px;
}

.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    box-shadow: 1px 1px 20px 0px #000000;
    -webkit-box-shadow: 1px 1px 20px 0px #000000;
    -moz-box-shadow: 1px 1px 20px 0px #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    }
    
.btn:hover {
    border: solid #337FED 1px;
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
    }

    p {
        line-height: 2;
    }

hr {
        border: dotted #d3d3d3;
        border-bottom: none;
        width: 4%;
        margin: 100px auto;
    }

    .contact-me {
        width: 40%;
        margin:40px auto 60px ; /*Top left & right and bottom shorthand */
    }

    .htest {
        line-height: 50px;
        font-family: 'Montserrat', sans-serif;
        font-size: 2.5rem;
        color: #66BFBF;
        font-weight: normal;
        margin: 20px auto 0px;
    }

   a:hover {
       color: #EAF6F6
   }

   .intro-title {
       padding-bottom: 15px;
   }























#contact-form button[type="submit"]:hover {
    background-image:linear-gradient(bottom, #9C215A 0%, #A82767 52%);
    background-image:-moz-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
    background-image:-webkit-linear-gradient(bottom, #9C215A 0%, #A82767 52%);
    -webkit-transition:background 0.3s ease-in-out;
    -moz-transition:background 0.3s ease-in-out;
    transition:background-color 0.3s ease-in-out;
 }
 
#contact-form button[type="submit"]:active {
    box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
 }
 
 input:required, textarea:required {  
    box-shadow: none;
    -moz-box-shadow: none;  
    -webkit-box-shadow: none;  
    -o-box-shadow: none;  
 } 


#contact-form .required {  
    font-weight:bold;  
    color: #E5E6E7;      
 }

   /* Make form look nice on smaller screens */
@media only screen and (max-width: 580px) {
    #contact-form{
       left: 3%;
       margin-right: 3%;
       width: 88%;
       margin-left: 0;
       padding-left: 3%;
       padding-right: 3%;
    }
 }